<!DOCTYPE html>
<html>
    <!-- head -->
    <%- partial('_partial/head') %>
    <body>
        <!-- header -->
        <%- partial('_partial/header') %>

        <!-- content -->
        <%- body %>

        <!-- js -->
        <%- js('js/anchor.js') %>

        <script>
            anchors.add('h2, h3');
        </script>
    </body>
</html>

